body {
    background-color: rgba(32, 43, 35, 0.911);
}
.qwe {
    font-size: 55px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    position: static;
    transition: 0.6s;
}
.qwe:hover {
    color: rgba(201, 138, 229, 0.795);
    font-size: 60px;
}
.vk {
    font-size: 40px;
    margin-top: 10%;
    width: 23%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    position: static;
    transition: 0.6s;
}
.vk:hover {
    font-size: 45px;
    text-decoration: none;
    color: rgba(201, 138, 229, 0.795);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    position: static;
    transition: 0.6s;
}
.qwer {
    color: rgba(201, 138, 229, 0.795);
    font-size: 55px;
    text-decoration: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    position: static;
}
.ava {
    height: 200px;
    border-radius: 30px;
    position: absolute;
    margin-top: -18%;
}
